## Enable ~/.nano_history for saving and reading search/replace strings.
set historylog

# set mouse

## Don't wrap text at all.
set nowrap

## Use smooth scrolling as the default.
set smooth

## Allow nano to be suspended.
set suspend

## Use this tab size instead of the default; it must be greater than 0.
set tabsize 2

## Convert typed tabs to spaces.
set tabstospaces

## Detect word boundaries more accurately by treating punctuation
## characters as parts of words.
# set wordbounds

# set linenumbers

set constantshow

include "/usr/share/nano-syntax-highlighting/*.nanorc"
